/* Landing page */
#title{
    text-align: center;
}

/* Navbar */
#home_logo{
    width: 5%;
    height: 5%;
}

/* Fun facts */
#page-content {
    max-width: 500px;
    margin-top: 100px;
    margin-left: 100px;
}
.fun-fact-container {
  font-family: sans-serif;
  padding : 1em;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  box-shadow: 0px -2px 2px #dbdbdb;

  background-color: #f3dfee;

  background-image: 
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #6A359C 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #804FB3 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #9969C7 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #B589D6 80%);
}
#fact-image {
  float: center;
}
.arrow-right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #f3dfee;
  float: right;
  position: absolute;
  left: 570px;
  top: 220px;
}

/* List */

#list_ctn {
  margin: 20px;
}

#ul_list {
  list-style-type: none;
  width: 800px;
}

.building_name {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.building_img {
  float: left;
  margin: 0 15px 0 0;
  width: 30%;
}

.building_desc {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.li_list {
  padding: 10px;
  overflow: auto;
}

.li_list:hover {
  background: #eee;
  cursor: pointer;
}


.map-building-detail {
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  border-radius: 15px;
}

.mapboxgl-popup {
  max-width: 400px;
}

.detail-popup.is-visible {
  transform: none;
}

.detail-popup {
  position: absolute;
  left: 70px;
  top: 140px;
  bottom: 80px;
  width: 28rem;
  max-width: 28rem;
  border-radius: 15px;
  background-color: white;
  transform: translate(100%, 0);
  z-index: 2;
  transition: transform 0.4s ease, width 0.4s ease;
}

.detail-popup__container {
  padding: 40px;
}

.detail-popup__img {
  /* position: absolute;
  top: -50px; */
  border-radius: 10px;
  min-height: 320px;
  height: 20vw;
}

.detail-popup__overflow {
  position: absolute;
  top: -50px; 
}

.detail-popup__row {
  display: flex;
}

.detail-popup__address {
  align-self: flex-end;
  margin-bottom: 30px;
  margin-left: 25px;
}

.detail-popup__address__street, .detail-popup__address__municipality {
  display: inline-block;
  background-color: #DBDBDB;
  padding: 10px 25px 10px 15px;
  border-radius: 5px;
  font-size: 35px;
  color: #2C3550;
  width: max-content;
}

.detail-popup__address__street {
  margin-bottom: 10px;
  padding-right: 80px;
}
