html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


/* Landing page */
#title{
    text-align: center;
}
/* Navbar */
#home_logo{
  width: 5%;
  height: 5%;
}
/* Start of the experiment */
html,
body,
header,
#intro {
    height: 100%;
    font-family: 'Lato';
}
HTML CSSResult
code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px 'Lato';
  padding: 24px 15px;
  text-align: center;
}
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

#map {
  width: 70%;
  height: 70%;
  position: absolute; 
  top: 250px;
  bottom: 10px;
}
footer {
  clear: both;
  margin-bottom: 0;
}

/* List */

#list_ctn {
  margin: 20px;
}

#ul_list {
  list-style-type: none;
  width: 800px;
}

.building_name {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.building_img {
  float: left;
  margin: 0 15px 0 0;
  width: 30%;
}

.building_desc {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.li_list {
padding: 10px;
overflow: auto;
}

.li_list:hover {
background: #eee;
cursor: pointer;
}
 /* Dashboard */
 *{
font-family: 'Lato';
 }
.grid-container {
display: grid;
grid-template-areas:
  "header"
  "main"
  "footer";
height: 100%;
width: 100%;
}
/* Chart 1 STYLES PER CITY */
#chart1 {
height: 100%;
width: 100%;
}
.ct-chart .ct-series .ct-bar { 
stroke: #FFB596; 
stroke-width: 10px;
}
.ct-chart .ct-labels .ct-label {
color: black;
}
/* Main */
.main-overview {
grid-area: main;
grid-auto-rows: auto;
display: grid;
grid-gap: 20px;
padding: 10px;
margin: 20px;
background-color: #ffffff;
}
.chartContainer {
display: grid;
align-items: center;
justify-content: space-between;
padding: 20px;
background-color: #FDFDFD;
box-shadow: 0 8px 6px -6px rgb(148, 148, 148);
border-radius: 15px;
line-height: 10px;
}
#map_dashboard {
float: right;
height: 600px;
grid-column-start: 2;
grid-row-start: 1;
grid-row-end: 4;
}
.dashboard_input{
border-radius: 20px;
border: none;
position: relative;
top: 20px;
height: 40px;
width: 300px;
outline: none;
background-color: #FDFDFD;
}
/* Timeline */
.footer {
grid-area: footer;
background-color: #ffffff;
}
[class*="main"] {
width: 100%;
}
@media only screen and (max-width: 768px){
  .main-overview {
    width: auto;
  }
  #map_dashboard{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .main-overview {
    width: auto;
  }
  #map_dashboard{
    display: none;
  }
}