/** MAP **/

.map-landing-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
}

.pop-up__img--landing {
    border-radius: 10px 10px 0 0 !important;
    box-shadow: 0px 3.3655px 3.3655px rgba(0, 0, 0, 0.04);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
}
  
.pop-up__address--landing {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    color: #2C3550;
    line-height: 25px;
    text-align: start;
}
  
.landing__container {
    position: absolute;
    background: white;
    z-index: 2;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 3.3655px 3.3655px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    padding: 30px;
}
  
.fun-fact__container {
    border: 2px solid #F5F5F5;
    padding: 20px;
    border-radius: 15px;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    max-width: 550px;
}
  
.fun-fact__txt {
    font-size: 17px;
    line-height: 40px;
    width: 100%;
    height: 150px;
}
  
.fun-fact__arrows {
    align-self: flex-end;
    margin-top: 10px;
}
  
.fun-fact__arrows .arrowLeft img {
    transform: rotate(180deg);
    margin-right: 10px;
}
/* Layers dropdown button */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 400px;
    right: 50px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.dropbtn:hover, .dropbtn:f