/* SEARCH CONTAINER */
.search_ctn{
    display: inline;
}

/* DROPDOWN */
#drop_btn {
    background-color: #585858;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .dropdown_search {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .hover_filter a:hover {background-color: #f1f1f1}
  
  .hover_filter:hover .dropdown_content {
    display: block;
  }
  
  .hover_filter:hover #drop_btn {
    background-color: #e7e7e7;
  }

  /* SEARCHBAR */

  .searchbar_ctn{
      max-width: 300px;
  }

  .searchbar_ctn input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #b8b8b8b8;
  }
  
  .searchbar_ctn::after {
    content: "";
    clear: both;
    display: table;
  }

  #search_bar{
      border-radius: 5%;
  }

  /* TAGS */

  .tags{
    background-color: #A9A9A9;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px;
  }

  .close_tags_button{
     width: 18px;
     color: #3C3D3E;
  }