/* SEARCH CONTAINER */
.search_ctn{
  display: inline;
}
/* SEARCHBAR */

.searchbar_ctn{
    max-width: 300px;
    display: inline;
}

#search_btn{
  padding: 6px;
  margin-left: 5px;
  border-radius: 12px;
  border-color: #81d8bf;
  background-color: white;
}

#searchrandom_btn{
  padding: 5px;
  width: 9.5%;
  height: 9%;
  border-radius: 12px;
  border-color: #81d8bf;
  background-color: white;
}

#dices_btn{
  width: 90%;
  height: 90%;
}

.searchbar_ctn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #81d8bf;
  float: left;
  width: 80%;
}

.searchbar_ctn::after {
  content: "";
  clear: both;
  display: table;
}

#search_bar{
    border-radius: 12px;
    border-color: #81d8bf;
    border-width: 2.5px;
    width: 70%;
}

/* TAGS */

.tags{
  background-color: #b7b7b7;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 5px;
}

.close_tags_button{
   width: 18px;
   color: #3C3D3E;
}

/* AUTOCOMPLETE */

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: relative ;
  border: 1px solid #d4d4d4;
  /*position the autocomplete items to be the same width as the container:*/
  top: 80%;
  z-index: 99;
  left: 0;
  border-radius: 12px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 12px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}