  
/* Landing page */
#title{
  text-align: center;
}
body {
font-family: Arial, sans-serif;
}
#map {
height: 100%;
width: 100%;
position:absolute;
top: 0;
left: 0;
z-index: 1;
}
.fun-fact-box {
position: absolute;
top: 300px;
z-index: 2;
font-family: Arial,sans-serif;
width: 30%;
margin-left: 20px;  
border: 0.3 px solid black;
background-color: #c4c4c4;
border-radius: 3px;
flex-flow: column;
border-radius: 25px;

}
.inside-box {
margin-left: 20px;
margin-right: 20px;
font-weight: lighter; 
background-color: #f7f8f8;
color: #222;
font-size: 14px;
border-radius: 25px;
}
.inside-text {
list-style: none;
padding: 10px;
margin-bottom: 10px;
margin-top: 20px;
line-height: 1.6;
}
/* Navbar */
#home_logo{
  width: 5%;
  height: 5%;
  position: relative;
  z-index: 2;
}
#nav {
list-style-type: none;
position: absolute;
z-index: 2;
margin: 0;
padding: 0;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #f3f3f3;
}
ul > li {
float: left;
}
li a {
display: block;
color: #666;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #ddd;
}
/* Fun facts */
#page-content {
  max-width: 500px;
  margin-top: 100px;
  margin-left: 100px;
}
.fun-fact-container {
padding : 1em;
width: 100%;
height: 200px;
box-sizing: border-box;
box-shadow: 0px -2px 2px #dbdbdb;

background-color: #f3dfee;

background-image: 
                  linear-gradient(175deg, rgba(0,0,0,0) 75%, #6A359C 75%),
                  linear-gradient( 85deg, rgba(0,0,0,0) 83%, #804FB3 83%),
                  linear-gradient(175deg, rgba(0,0,0,0) 70%, #9969C7 70%),
                  linear-gradient( 85deg, rgba(0,0,0,0) 80%, #B589D6 80%);
}
#fact-image {
float: center;
}
.arrow-right {
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 30px solid #f3dfee;
float: right;
position: absolute;
left: 570px;
top: 220px;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  font-weight: 500;
  src: url('/assets/fonts/proxima_nova_bold.woff');

}

.map-building-detail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  position: fixed;
}



.detail-popup.is-visible {
  transform: none;
}

.detail-popup {
  position: absolute;
  left: 80px;
  top: 80px;
  bottom: 0;
  width: 29vw;
  min-width: 400px;
  background-color: white;
  transform: translate(100%, 0);
  z-index: 2;
  transition: transform 0.4s ease, width 0.4s ease;
  box-shadow: 0px 3.3655px 3.3655px rgba(0, 0, 0, 0.1);
  height: fit-content;  
  border-radius: 15px 15px 0 0;
}


.detail-popup__container {
  padding: 30px;
}


.detail-popup__img {
  border-radius: 10px;
  min-height: 300px;
  height: 20vw;
}

.tag__group-name{
  font-size: 21px;
  font-family: 'ProximaNova-Bold';
  color: #212E44;
  margin-right: 9px;
  margin-left: 8px;
}

.detail-popup__tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-bottom: 35px;

}

.tag__category, .tag-group-architect {
  display: flex;
  align-items: center;
}

.tag__category {
  margin-bottom: 15px;
}


.tag  {
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
  padding: 12px 35px;
  text-align: center;
  border-radius: 30px;
  margin: 0 10px 15px 0
}

.line {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  margin-left: 9px;
}

.tag--style, .line--style {
  background-color: #F0F5FF;
  color: #618EEC;
}

.tag--type, .line--type {
  background-color: #FDF5F2;
  color: #F58975;
}

.tag--architect, .line--architect {
  background-color: #FCF1F7;
  color: #AF447F;
}

.tag__icon {
  margin-left: 4px;
}

.button {
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  text-decoration: none;
  padding: 9px;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.button--dark {
  background-color: #212E44;
  color: white;
}

.detail-popup__row {
  display: flex;
  margin-bottom: 45px;
  margin-top: -70px;
}

.detail-popup__address {
  position: relative;
  align-self: flex-end;
  margin-left: 20px;
}

.detail-popup__address__street, .detail-popup__address__municipality, .detail-popup__name {
  display: inline-block;
  background-color: white;
  padding: 10px 25px 10px 15px;
  border-radius: 5px;
  color: #212E44;
  width: max-content;
  font-size: 30px;
  font-family: 'ProximaNova-Bold';
}

.detail-popup__address__municipality {
  border-radius: 0 0 5px 5px;
}


.detail-popup__name {
  font-size: 32px;
  position: absolute;
  bottom: 130px;
  max-width: 45vw;
}

.watch__icon {
  display: none;
}

.detail-popup__img-container {
  position: relative;
}



.img-modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33,46,68, .96);
}

.img-modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-model__img {
  border-radius: 10px;
  height: 100vw;
}

.btn-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.btn-close:hover,
.btn-close:focus {
  text-decoration: none;
  cursor: pointer;
}




@media only screen and (max-width: 880px) {
  .map-building-detail {
    height: 350px;
    position: relative;
  }
  
  .detail-popup {
    left: 0;
    top: 330px;
    width: 100vw;
    border-radius: 15px;
  }

  .detail-popup__address {
    display: flex;
    flex-direction: column;
  }

  .detail-popup__name {
    max-width: 55vw;
  }
}


@media only screen and (max-width: 600px) {
  .detail-popup__name, .detail-popup__address  {
    position: inherit;
  }
  .detail-popup__row {
    display: block;
  }

  .detail-popup__address {
    margin-left: 0;
  }

  .detail-popup__address__street, .detail-popup__address__municipality, .detail-popup__name {
    padding: 10px 25px 0 0;
    font-size: 25px;
  }

  .detail-popup__img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .detail-popup__row {
    margin-top: 0;
  }

  .detail-popup__name {
    max-width: 100%;
  }

  .watch__icon {
    display: block;
    position: absolute;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
  }
  
}

