/* Buildings List CSS */

.split{
    height: 100%;
    width: 50%;
    position: fixed;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

#list_ctn {
  margin: 20px;
  left: 0;
  width: 50%;
  position: absolute;
}

#map_ctn{
  border-radius: 5%;
  right: 0;
  position: absolute;
  margin-right: 5%;
  margin-top: 5%;
}

#toggle_ctn{
  border-radius: 5%;
  right: 0;
  position: absolute;
}
  
#ul_list {
  list-style-type: none;
  width: 800px;
}

.building_streetname {
  font: bold 18px/1.5 Helvetica, Verdana, sans-serif;
}

.building_img {
  float: left;
  margin: 0 15px 0 0;
  width: 130px;
  height: 130px;
  border-radius: 5%;
}

.building_desc {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.li_list {
  padding: 10px;
  overflow: auto;
}

.li_list:hover {
  background: #eee;
  cursor: pointer;
}

.nb_page:hover{
  cursor: pointer;
}
#pagination {
  display: flex;
  height: 10vh;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
#ul_pagination{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
#ul_pagination li{
  color: #fff;
  display: flex;
}
#ul_pagination li a{
  background-color: #444B6E;
  padding: 5px 10px;
  border: 2px solid #3D315B;
  border-right: 0;
}

.building_style, .building_type{
  background-color: #e7e7e7;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7%;
  height: 30px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}